VITE_SUPABASE_URL=https://djjmpvwvralnwqgjpkha.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRqam1wdnd2cmFsbndxZ2pwa2hhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY3OTMxNTIsImV4cCI6MjA5MjM2OTE1Mn0.xYGoqYifG1cKHAZNpk8wx8MwWK1p2ANzlQ8XnDoGhzc
